<div class="login-container">
  <h2>Login</h2>

  <form (ngSubmit)="login()">
    <label for = "email">Email:</label>
    <input
      type="email"
      placeholder="Email"
      [value]="email"
      name="email"
      (input)="email = $any($event.target).value"
      required
    />
    
    <label for = "password">Password:</label>
    <input
      type="password"
      name="password"
      placeholder="Password"
      [value]="password"
      (input)="password = $any($event.target).value"
      required
    />

    <button type="submit">
      Login
    </button>

    <p class="error" *ngIf="error">
      {{ error }}
    </p>

  </form>
</div>
